<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo | {% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <center>
        <h1 style="background-color: grey; border: 0; margin: 0; padding: 0;">Todo | {% block heading %}{% endblock heading %}</h1>
        
        {% block content %}{% endblock content %}
    </center>
    
</body>
</html>
