{% extends 'base.html' %} 
{% block title %}Index{% endblock title %}
{% block heading %}Index{% endblock heading %}
{% block content %}
<br>
<a href="/taskadd" title="Add" class="button"><button>Add New Task</button></a>
<br>
<br>
<table>
  <th>Task</th>
  <th>Description</th>
  <th>Delete Task</th>
  <th>Edit Task</th>
  {% for task in tasks %}
    <tr>
      <td>{{task.name}}</td>
      <td>{{task.desc}}</td>
      <td>
        <a href="/taskdelete/{{task.id}}" title="Delete" class=""><button>Delete</button></a>
      </td>
      <td> 
        <a href="/taskedit/{{task.id}}" title="Edit" class=""><button>Edit</button></a>
      </td>
    </tr>
  {%endfor%}
</table>
{% endblock content %}